.list-user-container {
  .list-user-container {
    .child {
      height: 40px;
      border: 1px solid gray;
      width: 300px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 5px;
  color: green;
}
